a {
  color: #666 !important;
}

.button {
  border: 1px solid #666;
  background: #fff;
  color: #666;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 20px;
}

.items__list {
  list-style: none;
}

.items__list-item {
  background: #eee;
  border: 1px solid #000;
}

.items__content {
  display: inline-block;
}

.nav {
  background: #eee;
}

.nav__list {
  list-style: none;
}

.nav__list-item {
  border: 1px solid #333;
  background: #fff;
}

